<div class="text-center">
    <h1 class="text-info pt-3">Congratulations! You are one step closer to Complete your Order.</h1>
    <h2 class="pb-2">We have received your order and your payment will be processed soon!</h2>
    <img style="width:36%;" src="/images/confirmation.png" />
</div>
